body{
    background-color:#000000;
}
h1{
    font-family: 'Old typewriter', sans-serif;
}
h2{
    font-family: 'Type Keys', sans-serif;
    font-family: 'Type Keys Filled', sans-serif;
}
h3{
    font-family: 'Old typewriter', sans-serif;
    font-size: 35px;
    color: rgb(255, 255, 255);
}
  
.grid-container {
    display: grid;
    grid-template-columns: 620px 300px; 
    
}

.ReeceFolder{
    width: 50%;
    height: auto; 
}

.tapeplayer{
    width: auto;
    height: 50%;
}

audio{ 
    display: none;
}
